:root {
    font-family: 'Roboto', sans-serif;
    --azul-claro: rgb(40, 118, 207);
    --azul-escuro: rgb(0, 62, 129);
}

.logo {
    width: 80px;
    height: 80px;
}

.logo-text {
    margin-left: 10px;
}

.kami-info {
    text-align: center;
    align-items: center;
    position: relative;
    top: 40px;
    padding: 2rem;
    height: fit-content;
}

.texto {
    width: 45%;
    text-align: justify;
}

.ficha {
    align-self: flex-end;
    position: absolute;
    top: 40px;
    right: 20px;
    padding-bottom: 80px;
}