:root {
    font-family: 'Roboto', sans-serif;
    --azul-claro: rgb(40, 118, 207);
    --azul-escuro: rgb(0, 62, 129);
}

.logo {
    width: 80px;
    height: 80px;
}

.logo-text {
    margin-left: 10px;
}

.kami-info {
    text-align: center;
    align-items: center;
    position: absolute;
    top: 40px;
    padding: 2rem;
    height: fit-content;
    width: fit-content;
}

.texto {
    width: 45%;
    text-align: justify;
}

.ficha {
    position: absolute;
    top: 40px;
    right: 20px;
    padding-bottom: 80px;
    height: auto;
    width: auto;
    position: absolute;
}

.dados {
    position: absolute;
    left: 30px;
    max-width: 100%;
    height: auto;
    width: auto;
    position: absolute;
}

.texto a:hover {
    color: var(--azul-escuro);
    font-size: 110%;
}